@import "./mosaic";
@import "./medea-img";

.contenido-principal {
    height: 550px;
    margin-bottom: 200px;

    @media only screen and (max-width: 600px) {
        height: 500px;
        margin-bottom: 100px;
    }
}
