.container-logo-blanco {
    height: 500px;
    width: 70%;
    display: flex;
    align-items: center;

    .medea-vr {
        width: 900px;
        height: auto;
        opacity: 0.5;
        position: relative;
        left: 90px;

        @media only screen and (min-width: 601px) and (max-width: 960px) {
            width: 600px;
            left: 50px;
        }
    }

    .light {
        position: relative;
        right: 60%;
        opacity: 0.5;

        @media only screen and (min-width: 601px) and (max-width: 960px) {
            right: 100%;
        }
    }

    .medea-vr,
    .light {
        @media only screen and (max-width: 600px) {
            display: none;
        }
    }
}
